          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <p>Your company &copy; 2017-2019</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
                  <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
              </div>
            </div>
          </footer>
          
        </div>
      </div>
    </div>
    <!-- Javascript files-->
    <script>
      window._baseurl = 'http://localhost/project/start/'
      window._session = {
        id: {{session.dosen.id}}
      }
      
      init()

      function init () {
        fetch(window._baseurl + 'api/self/dosen/dosen/' + window._session.id, {  
          credentials: 'include'
        }).then(resp => {
          return resp.json()
        }).then(data => {
          let fotoDosen = document.getElementById('foto-dosen')
          let namaDosen = document.getElementById('nama-dosen')
          fotoDosen.src = window._baseurl + 'resources/images/' + data.data[0].foto
          namaDosen.innerHTML = data.data[0].nama
        })
      }

    </script>
    <script src="{{ base_url() }}/resources/assets/js/jquery.js"></script>
    <script src="{{ base_url() }}/resources/assets/js/tether.min.js"></script>
    <script src="{{ base_url() }}/resources/assets/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/resources/assets/js/jquery.cookie.js"> </script>
    <script src="{{ base_url() }}/resources/assets/js/jquery.validate.min.js"></script>
    <script src="{{ base_url() }}/resources/assets/js/chart.js"></script>
    <script src="{{ base_url() }}/resources/assets/js/charts-home.js"></script>
    <script src="{{ base_url() }}/resources/assets/js/front.js"></script>
    <script src="{{ base_url() }}/resources/assets/js/vue.js"></script>
    <script src="{{ base_url() }}/resources/assets/js/axios.js"></script>